<!-- TEMPLATE -->
<template>
    <div class="template-container">

        <!-- Компонент для выбора города -->
        <!-- --------------------------- -->
        <autocomplete :search="search" :auto-select="true" placeholder="Укажите название города..." :get-result-value="getResultValue" v-on:submit="handleSubmit" />
        
        <!-- Актуальная информация о погоде -->
        <!-- ------------------------------ -->
        <div class="mt-4" v-if="haveWeather">

            <div class="d-flex justify-content-between">

                 <!-- Заголовок -->
                <span>
                    <h4>Прогноз погоды: <strong>{{ currentPlace.name }}</strong></h4>
                    <small>Сейчас: {{ weather.now_dt | moment('hh : mm') }}</small>
                </span>

                <!-- Кнопка "Обновить"-->
                <button class="btn btn-success btn-sm" v-on:click="getWeatherData" :disabled="isDisable">Обновить</button>
            </div>
            

            <!-- Основные параметры погоды -->
            <!-- ------------------------- -->
            <div class="d-flex mt-4">

                <!-- Температура -->
                <span class="temp-block">{{ getSign(fact.temp) }} &#176;</span>

                <!-- Иконка и параметры -->
                <div class="d-flex">
                    <img class="icon" :src="icon" :title="condition" />
                    <div class="d-flex flex-column justify-content-start">
                        <span class="additional">{{ condition }}</span>
                        <span class="additional additional-mt">
                            <small>Ощущается, как <strong>{{ getSign(fact.feels_like) }}  &#176;</strong></small>
                        </span>
                    </div>
                </div>

            </div>

            <!-- Дополнительные параметры погоды -->
            <!-- ------------------------------- -->
            <div class="d-flex">
                
                <!-- Скорость ветра, напрвление ветра-->
                <span class="additional mr-4">
                    <font-awesome-icon class="icon-other mr-1" :icon="['fas', 'wind']" />
                    {{ fact.wind_speed }} м/с : {{ windDirection }}
                </span>

                <!-- Давление -->
                <span class="additional mr-4">
                    <font-awesome-icon class="icon-other mr-1" :icon="['fas', 'thermometer-three-quarters']" /> 
                    {{ fact.pressure_mm }} мм рт. ст.
                </span>

                <!-- Температура воды -->
                <span class="additional mr-4" v-if="haveTempWater">
                    <font-awesome-icon class="icon-other mr-1" :icon="['fas', 'water']" />
                    {{ fact.temp_water }} &#176;
                </span>
            </div>
        </div>

        <!-- Актуальная информация отсутствует -->
        <div v-else></div>
    </div>
</template>

<!-- SCRIPT -->
<script>
    import states       from './../common/states.js'
    import places       from './../common/places.js'
    import weatherCodes from './../common/weatherCodes.js'
    import windCodes    from './../common/windCodes.js'
    import Autocomplete from '@trevoreyre/autocomplete-vue'

    export default {
        name: 'YandexWeather',
        components: {
            Autocomplete
        },
        data: () => ({

            /**
             * Список актуальных городов для отображения погоды.
             * 
             * @type {Array}
             */
            places: places,

            /**
             * Текущий город, для которого необходимо отобразить погоду.
             * 
             * @type {Object}
             */
            currentPlace: places[0],

            /**
             * Список состояний для получения данных от сервера.
             * 
             * NONE:    Загрузка еще не началась;
             * LOADING: В процессе загрузки;
             * SUCCESS: Загрузка завершена и данные получены;
             * ERROR:   Загрузка завершена, но возникли ошибки.
             * 
             * @type {Object}
             */
            states: states,

            /**
             * Список кодов состояний направления ветра.
             * 
             * @type {Object}
             */
            windCodes: windCodes,

            /**
             * Список кодов для состояния текущей погоды.
             * 
             * @type {Object} 
             */
            weatherCodes: weatherCodes,

            /**
             * Текущее стостояние данных получаемых от сервера.
             * 
             * @type {number}
             */
            state: states.NONE,

            /**
             * Данные о погоде для текущего города полученные от сервера.
             * 
             * @type {Object}
             */
            weather: null 
        }),
        computed: {

            /**
             * Проверка на наличие данных о погоде для текущего города.
             * 
             * @return {bool}
             */
            haveWeather() {
                return this.weather !== null
            },

            /**
             * Проверка на наличие данных о температуре водоема в текущем городе.
             * 
             * @return {bool}
             */
            haveTempWater() {
                return this.fact.temp_wate != null
            },

            /**
             * Фактические данные о погоде в текущем городе полученные от сервера.
             * 
             * @return {Object}
             */
            fact() {
                return this.haveWeather ? this.weather.fact : null
            },
            
            /**
             * Ссылка на иконку типа погоды.
             * 
             * @return {string}
             */
            icon() {
                return this.fact ? `https://yastatic.net/weather/i/icons/blueye/color/svg/${this.fact.icon}.svg` : ''
            },

            /**
             * Ощущаемая температура.
             * 
             * @return {string}
             */
            condition() {
                return this.fact ? this.weatherCodes[this.fact.condition] : ''
            },

            /**
             * Строковое состояние направление ветра.
             * 
             * @return {string}
             */
            windDirection() {
                return this.fact ? this.windCodes[this.fact.wind_dir] : ''
            },

            /**
             * Состояние кнопки "Обновить"
             * 
             * @type {bool}
             */
            isDisable() {
                return this.state == this.states.LOADDING
            }

        },
        methods:  {

            /**
             * Получение данных о погоде в текущем городе.
             * 
             * @return {void}
             */
            getWeatherData() {
                this.state = this.states.LOADDING

                this.axios.get('/weather', { 
                    params: {
                        lat: this.currentPlace.lat,
                        lon: this.currentPlace.lon
                    }
                })
                .then(weather => {
                    this.weather = weather.data
                    this.state = this.states.SUCCESS
                })
                .catch(error => { 
                    this.$alertify.error('Ошибка получения данных о погоде: ' + error)
                    this.state = this.states.ERROR
                })
            },

            /**
             * Метод поиска города в списке городо.
             * 
             * @param  {string}  Строка поиска (введенные значения).
             * @return {Object}  Объект найденного города.
             */
            search(input) {
                if (input.length < 1) { return [] }
                return this.places.filter(place => {
                    return place.name.toLowerCase().startsWith(input.toLowerCase())
                })
            },

            /**
             * Получение имени текущего города.
             * 
             * @param   {Object} Объект найденного города.
             * @return  {string} Имя текущего города.
             */
            getResultValue(result) {
                return result.name
            },

            /**
             * Обработчик события при выборе города в строке поиска.
             * 
             * @param  {Object} Объект найденного города.
             * @return {void}
             */
            handleSubmit(result) {
                if (result) {
                    this.currentPlace = result
                    this.getWeatherData()
                }
            },

            /**
             * Получение символа числа и перевод его в строку.
             * 
             * @param   {number}            Число. знак которого необходимо получить.
             * @return {string | number}    Строка со знаком числа и числом.
             */
            getSign(value) {
                return value > 0 ? `+${value}` : value
            }
        }
    }
</script>

<!-- STYLE -->
<style scoped>
    h4 {
        margin: 0;
        padding: 0;
        font-size: 1em;
        font-weight: normal;
    }
    h4 > strong {
        font-weight: 600;
        color: #90CAF9;
    }
    .icon {
        width: 60px;
        height: 60px;
        margin-right: 16px;
    }
    .temp-block {
        width: 110px;
        margin-top: -10px;
        font-size: 2.5em;
        font-weight: bold;
    }
    .additional {
        font-size: 1em;
    }
    .additional-mt {
        margin-top: -4px;
    }
    .icon-other {
        font-size: 1.1em;
        font-weight: 100;
        color: #90CAF9;
    }
</style>
<style>
    .autocomplete {
        color: black;
    }
    .autocomplete > .autocomplete-input {
        height: 37px;
        padding: 8px;
        padding-left: 46px;
        opacity: .5;
        transition: all .3s ease-out;
    }
    .autocomplete > .autocomplete-input:focus {
        opacity: 1;
        transition: all .3s ease-out;
    }
</style>