
<!-- TEMPLATE -->
<template>
  <div id="app">
    <div class="container">
      <div class="row container-main d-flex justify-content-center">
        <div class="col-md-8 d-flex align-items-center">

          <!-- CONTENT -->
          <div class="content">
            <yandex-weather />
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<!-- SCRIPTS -->
<script>
  import YandexWeather  from './components/YandexWeather.vue'

  export default {
    name: 'app',
    components: {
      YandexWeather
    }
  }
</script>

<style>
  #app {
    color: white;
  }
  .container-main {
    height: 100vh;
  }
  .content {
    width: 100%;
    /*height: 450px;*/
    padding: 26px;
    border-radius: 6px;
    background-color: #1565C0;
    transition: height .4s ease-out;
  }
</style>